{% extends 'base.html' %}
{% load hitcount_tags %}
{% load bbcode_tags %}
{% load static %}
{% block content %}

<div class="container">
    <!--Navigation-->
    <div class="navigate">
        <div class="navigate_div">
            <span><a href="{% url 'home' %}">FORUM</a> >> <a href="{{post.categories.all.0.get_url}}">{{post.categories.all.0}}</a> >> <a href="{{post.get_url}}">{{post.title}}</a></span>
        </div>

            {% if request.user.is_authenticated and user not in subs %}
                <form id="myForm" class="myForm" method="post">
                    {% csrf_token %}
                    <div class="create_post_div">
                        <input type="hidden" name="subscribe" value="True">
                        <button type="submit" title="Отслеживать" class="subscribe"><i class="fa-solid fa-bell"></i></button>
                    </div>
                </form>

            {% endif %}
        
            {% if request.user.is_authenticated and user in subs %}
                <form id="myForm" class="myForm" method="post">
                    {% csrf_token %}
                    <div class="create_post_div">
                        <input type="hidden" name="subscribe" value="False">
                        <button type="submit" title="Перестать отслеживать" class="unsubscribe"><i class="fa-solid fa-bell-slash"></i></button>
                    </div>
                </form>
            {% endif %}
    </div>
    <!--Topic Section-->
    <div class="topic-container">
        <!--Original thread-->
        <div class="head">
            <div class="authors">Автор</div>
            <div class="content">Топик: {{post.title}} (Прочитано {% get_hit_count for post %} раз)</div>
        </div>
        <div class="body">
            <div class="authors">
                <div class="username"><a href="">{{post.user.fullname|title}}</a></div>
                <div>{{post.user.groups.all.0.name}}</div>
                <br>
                <img src="{{post.user.profile_pic.url}}" alt="">
                <div>Топиков: <u>{{post.user.num_posts}}</u></div>
                {% for id in user_comment_count %}
                {% if id.user  == post.user.id %}
                <div>Сообщений: <u>{{id.post_count|add:id.reply_count|add:id.comment_count}}</u></div>
                {% endif %}
                {% endfor %}
                <div>Очков: <u>{{post.user.points}}</u></div>

                {% if post.user.is_online %}
                    
                     <div>Онлайн!</div>
                    
                {% endif %}


            </div>

            <div class="content">
                {{post.content|safe}}

                <br>
                {% if request.user.is_authenticated %}
                <div class="comment">
                    {% if post.closed != True %}
                    <button onclick="showComment()">Комментарий</button>
                    {% endif %}
                    {% if request.user.is_staff %}
                    <form id="myForm" class="myForm" method="post">
                        {% csrf_token %}
                        {% if post.closed == True %}
                        <input type="hidden" name="open-topic" />
                        <button id="reload_button" type="submit" name="TEST" value="TEST">Открыть топик</button>
                        {% else %}
                        <input type="hidden" name="close-topic" />
                        <button id="reload_button" type="submit">Закрыть топик</button>
                        {% endif %}
                    </form>

                    <form id="myForm" class="myForm" method="post">
                        {% csrf_token %}
                        <br /><br /><br /> <button name="delete-topic" style="background-color:mediumpurple;" type="submit">Удалить топик</button>
                    </form>

                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>


    <!--Comment Area-->
    {% if post.closed == True %}
    <div style="background-color:#fff;color:#000;font-weight:bolder;padding:20px;width:100%;"> Этот Топик закрыт! </div>
    {% else %}
    {% if request.user.is_authenticated %}
    <form id="myForm" class="myForm" method="post">
        {% csrf_token %}
        <div class="comment-area hide" id="comment-area">
            <textarea class="editor" name="comment" id="" placeholder="Комментарий ... "></textarea>
            <button name="comment-form" type="submit">Submit</button>
        </div>
    </form>

    <!--{{ form.media }}
    {{ form.as_p }}
    <input type="hidden" name="comment-id" value="{{comment.id}}">
    <button name="reply-form" type="submit">Submit</button>-->
    {% else %}
    <div style="background-color:#fff;color:#000;font-weight:bolder;padding:20px;width:100%;"> Вам нужно <a href="{% url 'auth' %}"><b>авторизоваться</b></a> чтобы прокомментировать! </div>

    {% endif %}

    {% endif %}

    <!--Comments Section-->
    {% for comment in post.comments.all %}
    <div class="comments-container">
        <div class="body">
            <div class="authors">
                <div class="username"><a href="">{{comment.user.fullname|title}}</a></div>

                <div>{{ comment.user.groups.all.first.name }}</div>
                <img src="{{comment.user.profile_pic.url}}" alt="">
                <div>Топиков: <u>{{comment.user.num_posts}}</u></div>
                {% for id in user_comment_count %}
                {% if id.user  == comment.user.id %}
                <div>Сообщений: <u>{{id.post_count|add:id.reply_count|add:id.comment_count}}</u></div>
                {% endif %}
                {% endfor %}
                <div>Очков: <u>{{comment.user.points}}</u></div>
            </div>
            <div class="content">
                {{ comment.content|safe }}
                <br>
                {% if request.user.is_authenticated %}
                <div class="comment">
                    <button onclick="showReplies('comment{{comment.id}}')">Ответить</button>
                    {% if request.user.is_authenticated and request.user.is_staff %}
                    <form id="myForm" class="myForm" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="message-id" value="{{ comment.id }}">
                        <button type="submit" name="delete-message">Удалить комментарий</button>
                    </form>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!--Reply Area-->
    <form id="myForm" class="myForm" method="post">
        {% csrf_token %}
        <div class="comment-area hide" id="comment{{comment.id}}">
            <textarea class="editor" name="reply" id="" placeholder="Напишите что-нибудь ... "></textarea>
            <input type="submit" value="submit" name="reply-form">
            <input type="hidden" name="comment-id" value="{{comment.id}}">
        </div>
    </form>

    <!--Reply section-->
    {% for reply in comment.replies.all %}
    <div class="comments-container" style="width: 95%; margin-left:5%;">
        <div class="body">
            <div class="authors">
                <div class="username"><a href="">{{reply.user.fullname|title}}</a></div>
                <div>{{reply.user.groups.all.0}}</div>
                <img src="{{reply.user.profile_pic.url}}" alt="">
                <div>Топиков: <u>{{reply.user.num_posts}}</u></div>
                {% for id in user_comment_count %}
                {% if id.user  == reply.user.id %}
                <div>Сообщений: <u>{{id.post_count|add:id.reply_count|add:id.comment_count}}</u></div>
                {% endif %}
                {% endfor %}
                <div>Очков: <u>{{reply.user.points}}</u></div>
            </div>
            <div class="content">
                {{reply.content|safe}}
                <br>
                {% if request.user.is_authenticated %}
                <div class="comment">
                    <button onclick="showReplies('comment{{comment.id}}')">Ответить</button>
                    {% if request.user.is_authenticated and request.user.is_staff %}
                    <form id="myForm" class="myForm" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="reply-id" value="{{ reply.id }}">
                        <button type="submit" name="delete-reply">Удалить ответ</button>
                    </form>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    {% endfor %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#reload_button').click(function () {
            $.ajax({
                type: 'GET',
                url: window.location.href,
                success: function () {
                    setTimeout(function () {
                        location.reload();
                    }, 200);
                }
            });
        });
    });
</script>


    {% endblock content %}